body {
	background-color: yellow;
	color: green;
}
a link {
	background-color: white;
	text-decoration: none;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	background-color: white;
	color: green;
}
